[Unit]
Description=WRowFusion Service
After=network.target  bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
User=#APP_USER#
Group=#APP_USER#
WorkingDirectory=#REPO_DIR#
Environment="PATH=#REPO_DIR#/venv/bin"
ExecStart=#REPO_DIR#/venv/bin/python -m src.wrowfusion
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
